@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* untuk landing page */
.primary-bg {
  background-color: #5e72e4;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.btn-submit:hover {
  background-color: #8090ee;
}
.btn-login {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-landing a {
  letter-spacing: 1px;
}
/* akhir landing page */
/* untuk dashboard admmin */
.sidebar-logo-admin {
  height: 500px !important;
}

/* akhir dashboard admin */
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
